<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="item" id="open-modal">
      <h3>Buttons on items</h3>
      <p>{{currentValue}}</p>
    </div>

    <ion-modal #modal trigger="open-modal" [isOpen]="false">
      <ng-template>
        <ion-picker>
          <ion-picker-column
            [value]="currentValue"
            (ionChange)="onIonChange($event)"
          >
            <ion-picker-column-option value="" disabled="true"
              >--</ion-picker-column-option
            >
            <ion-picker-column-option value="Collapsible menu"
              >Collapsible menu
            </ion-picker-column-option>
            <ion-picker-column-option value="Static menu"
              >Static menu
            </ion-picker-column-option>
            <ion-picker-column-option value="Tap for menu"
              >Tap for menu
            </ion-picker-column-option>
          </ion-picker-column>
        </ion-picker>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
